{% extends 'applications/base.html' %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Company</th>
                <th>Job Title</th>
                <th>Status</th>
                <th>Applied Date</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{ application.company }}</td>
                <td>{{ application.job_title }}</td>
                <td>{{ application.status }}</td>
                <td>{{ application.applied_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}